<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="bank.payday.network">

	<uses-permission android:name="android.permission.INTERNET" />
	<application
		android:usesCleartextTraffic="true"
		tools:targetApi="n" />
</manifest>